<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Travel</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        .timeline {
            border-left: 3px solid #727cf5;
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
            background: rgba(114, 124, 245, 0.09);
            margin: 0 auto;
            letter-spacing: 0.2px;
            position: relative;
            line-height: 1.4em;
            font-size: 1.03em;
            padding: 50px;
            list-style: none;
            text-align: left;
            max-width: 40%;
        }
        
        @media (max-width: 767px) {
            .timeline {
                max-width: 98%;
                padding: 25px;
            }
        }
        
        .timeline h1 {
            font-weight: 300;
            font-size: 1.4em;
        }
        
        .timeline h2,
        .timeline h3 {
            font-weight: 600;
            font-size: 1rem;
            margin-bottom: 10px;
        }
        
        .timeline .event {
            border-bottom: 1px dashed #e8ebf1;
            padding-bottom: 25px;
            margin-bottom: 25px;
            position: relative;
        }
        
        @media (max-width: 767px) {
            .timeline .event {
                padding-top: 30px;
            }
        }
        
        .timeline .event:last-of-type {
            padding-bottom: 0;
            margin-bottom: 0;
            border: none;
        }
        
        .timeline .event:before,
        .timeline .event:after {
            position: absolute;
            display: block;
            top: 0;
        }
        
        .timeline .event:before {
            left: -207px;
            content: attr(data-date);
            text-align: right;
            font-weight: 100;
            font-size: 0.9em;
            min-width: 120px;
        }
        
        @media (max-width: 767px) {
            .timeline .event:before {
                left: 0px;
                text-align: left;
            }
        }
        
        .timeline .event:after {
            -webkit-box-shadow: 0 0 0 3px #727cf5;
            box-shadow: 0 0 0 3px #727cf5;
            left: -55.8px;
            background: #fff;
            border-radius: 50%;
            height: 9px;
            width: 9px;
            content: "";
            top: 5px;
        }
        
        @media (max-width: 767px) {
            .timeline .event:after {
                left: -31.8px;
            }
        }
        
        .rtl .timeline {
            border-left: 0;
            text-align: right;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            border-right: 3px solid #727cf5;
        }
        
        .rtl .timeline .event::before {
            left: 0;
            right: -170px;
        }
        
        .rtl .timeline .event::after {
            left: 0;
            right: -55.8px;
        }
    </style>


</head>

<body style="background-image:url('/images/WhatsApp Image 2023-02-20 at 20.48.32.jpeg');background-size: 100% 200%;font-style: italic; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

    <header>

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container" style="font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                <a class="navbar-brand" href="/">India Tourism</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/aboutus">About Us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/contactus">Contact Us</a>
                        </li>

                        <% if (flag===false) {%>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/login">Admin Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/register">Admin Register</a>
                            </li>
                            <%}else{%>

                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/admin">Admin Page</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/logout">Log out</a>
                                </li>

                                <%} %>


                    </ul>

                </div>
            </div>
        </nav>


    </header>

    <main>

        <div class="container shadow-lg py-3 px-5 mb-5 rounded opacity-0">
            <h1 class="text-center" style="font-family: sans-serif; font-style: italic;">
                <%=posts.description%>
            </h1>
            <hr>

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% posts.images.forEach((img, i) => {  %>
                        <div class="carousel-item <%= i === 0 ? 'active' : ''%>">
                            <img src="<%= img.url%>" class="d-block w-100" alt="" style="height:100vh">
                        </div>
                        <% }) %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
            </div>

            <hr>

            <p class="date fw-bold">

                <%=posts.date.toString().substring(4, 16)%>

            </p>

            <div style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-style: italic;">
                <h5>
                    <%=posts.info%>
                </h5>
            </div>
        </div>

        <% if (posts.itiniery.length>0) {%>
            <div id="content" class="text-center">
                <h3>
                    <%=posts.title%> -
                        <%=posts.itiniery.length%> Nights Stay</h4>
                            <ul class="timeline">
                                <% for(let i=0;i < posts.itiniery.length;i++) { %>
                                    <li class="event">
                                        <h3>Day
                                            <%=i+1%>
                                        </h3>
                                        <p>
                                            <%=posts.itiniery[i]%>
                                        </p>
                                    </li>
                                    <%}%>
                            </ul>
            </div>
            <% } %>


                <div style="padding: 10px;">

                    <a target="_blank" href="https://maps.google.com/?q=<%=posts.title %>">Click to view on map</a>

                </div>




    </main>

    <script src="/js/bootstrap.min.js"></script>

</body>

</html>