<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Let's Travel</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b2eeb7bc31.js" crossorigin="anonymous"></script>
</head>

<body style="background-image:url('/images/WhatsApp Image 2023-02-20 at 20.48.32.jpeg');background-size: 100% 200%;">

    <header>
        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container" style="font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                <a class="navbar-brand" href="#">India Tourism</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/aboutus">About Us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/contactus">Contact Us</a>
                        </li>

                        <% if (flag===false) {%>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/login">Admin Login</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/register">Admin Register</a>
                            </li>
                            <%}else{%>

                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/admin">Admin Page</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" aria-current="page" href="/logout">Log out</a>
                                </li>

                                <%} %>


                    </ul>
                    <% if (flag===false) {%>
                        <form class="d-flex" action="/calls" method="post">
                            <input class="form-control me-2" type="tel" placeholder="Phone number" aria-label="Phone number" name="phone">
                            <button class="btn btn-outline-primary text-nowrap" type="submit">Call me</button>
                        </form>
                        <%}%>
                </div>
            </div>
        </nav>


    </header>


    <main>
        <div class="container">
            <% if(success=='mustbeloggedin'){%>
                <div class="alert alert-success">

                    <strong>User must be logged in!</strong>

                </div>
                <%}%>
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://img.veenaworld.com/wp-content/uploads/2022/06/Hotels-in-Pahalgam-A-Perfect-Getaway-In-The-Lap-of-Nature-scaled-e1656352336838.jpg" class="image-fluid d-block w-100 " style="height:80vh" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Pahalgam</h5>
                                    <p>Kashmir,India</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://res.cloudinary.com/thrillophilia/image/upload/c_fill,f_auto,fl_progressive.strip_profile,g_auto,h_600,q_auto,w_auto/v1/filestore/oq0ze7kcnahol7qnqgpp2do58qpe_1488201003_3d32873056326c73c529169a0102192df27fa6e8-tc-img-preview.jpg" class="h-20 image-fluid d-block w-100"
                                    style="height:80vh" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Jollyboy Island</h5>
                                    <p>Andaman And Nicobar Islands,India</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="https://static.toiimg.com/photo/msid-93474335,width-96,height-65.cms" class="h-30 image-fluid d-block w-100" alt="..." style="height:80vh">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Jaipur</h5>
                                    <p>Rajasthan,India</p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <img src="https://images.thrillophilia.com/image/upload/s--AC7EInAl--/c_fill,g_center,h_642,q_auto,w_1280/f_auto,fl_strip_profile/v1/images/photos/000/013/736/original/1626253725_shutterstock_1840637584.jpeg.jpg" class="h-20 image-fluid d-block w-100"
                                    style="height:80vh" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Nubra Valley</h5>
                                    <p>Ladakh,India</p>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
                    </div>

        </div>


        <div class="container my-3">
            <div class="row row-cols-3 g-4">
                <%for(let post of posts){%>
                    <div class="col">
                        <div class="card rounded">
                            <%if(post.images.length!=0){%>
                                <img src="<%=post.images[0].url%>" class="card-img-top" alt="Image 1" style="height:50vh">
                                <%}%>
                                    <div class="card-body bg-light">
                                        <h5 class="card-title">
                                            <%=post.title%>
                                        </h5>
                                        <p class="card-text" style="font-weight:300; font-size: large;color: red;">
                                            <%=post.description%>
                                        </p>
                                        <div>

                                            <i class="fas fa-plane p-2"></i>
                                            <i class="fas fa-hotel p-2"></i>
                                            <i class="fas fa-car p-2"></i>
                                            <i class="fas fa-person-hiking p-2"></i>




                                        </div>





                                        <a class="btn btn-link p-0 text-decoration-none" style="font-weight: bold;" href="/<%=post._id%>/details">Explore</a>

                                        <div style="padding-top:30px;float:right;display: inline;">
                                            <i class="fa-sharp fa-solid fa-indian-rupee-sign" style="font-size:15px;font-weight: bold;"><%=post.price%>/Person</i>


                                        </div>

                                    </div>

                        </div>
                    </div>
                    <%}%>
            </div>



        </div>

    </main>


    <footer class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <p class="copy mb-0">&copy;2023,All Rights Reserved</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Contact us
</button>
        </div>





    </footer>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action='/contact' method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>

                        </div>

                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone number</label>
                            <input type="tel" class="form-control" id="phone" name="phone" required>

                        </div>

                        <div class="mb-3">
                            <label for="message" class="form-label">Enquiry</label>
                            <textarea type="text" class="form-control" id="name" name="message" required></textarea>

                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script src="/js/bootstrap.min.js"></script>
</body>

</html>