<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>India Tourism</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b2eeb7bc31.js" crossorigin="anonymous"></script>


</head>

<body>

    <header class="header-area">
        <div class="container">
            <div class="header">
                <a href="/" class="logo">India Tourism</a>
                <ul>
                    <li><a href="/" style="text-decoration: none;">Home</a></li>
                    <li><a href="/aboutus" style="text-decoration: none;">About Us</a></li>
                    <li><a href="/contactus" style="text-decoration: none;">Contact Us</a></li>
                    <% if (flag===false) {%>
                        <li><a href="/login" style="text-decoration: none;">Admin Login</a></li>
                        <li><a href="/register" style="text-decoration: none;">Admin Register</a></li>

                        <%}else{%>
                            <li><a href="/admin" style="text-decoration: none;">Admin Page</a></li>
                            <li><a href="/logout" style="text-decoration: none;">Logout</a></li>
                            <%} %>
                </ul>
            </div>
        </div>
    </header>

    <section class="bannar-area" style="background-image: url('img/header-image-2-1.jpg');">
        <div class="container">
            <div class="bannar">
                <h4>welcome to India Tourism</h4>
                <h2>explore India <br> with your travel</h2>
            </div>
            <% if (flag===false) {%>
                <div class="call">
                    <form class="d-flex" style="width: 60vh;height: 50px;" action="/calls" method="post">
                        <input class="form-control me-2" style="font-style: italic; " type="tel" placeholder="Phone number" aria-label="Phone number" name="phone">
                        <button class="btn btn-outline-primary text-nowrap" style="height: 50px; color:white; font-style: italic; background:rgb(209, 24, 24);white-space:nowrap; border-radius: 10px;" type="submit">Request Callback</button>
                    </form>
                </div>
                <%}%>
        </div>
    </section>

    <section class="about-area">
        <div class="container">
            <div class="about">
                <div class="about-content" style="text-align: left;">
                    <h4>It's time to start your adventure</h4>
                    <p>India has a myriad of landscapes, great heritage and culture, varied flora and fauna. The country is the most preferred tourist destinations for tourists from all across the world for its picturesque landscapes, spectacular waterfalls,
                        habitat of the country's largest tiger reserve and home to the warmest people on earth.</p>

                </div>
                <div class="about-img">
                    <div class="single-about">
                        <img src="/img/about-1.jpg" alt="">
                    </div>
                    <div class="single-about">
                        <img src="/img/about-2.jpg" alt="">
                    </div>
                    <div class="single-about">
                        <img src="/img/about-3.jpg" alt="">
                    </div>
                    <div class="single-about">
                        <img src="/img/about-4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="package-area">
        <div class="section-title">
            <p>Perfect for You</p>
            <h4>Popular Tour Packages</h4>
        </div>
    </section>

    <div class="container my-3">
        <div class="row row-cols-3 g-4">
            <%for(let post of posts){%>
                <div class="col">
                    <div class="card rounded">
                        <%if(post.images.length!=0){%>
                            <img src="<%=post.images[0].url%>" class="card-img-top" alt="Image 1" style="height:50vh">
                            <%}%>
                                <div class="card-body bg-light" style="text-align: left;">
                                    <h5 class="card-title" style="text-align: left;">
                                        <%=post.title%>
                                    </h5>
                                    <p class="card-text" style="text-align:left;font-weight:300; font-size: large;color: red;">
                                        <%=post.description%>
                                    </p>
                                    <div style="float: left;">

                                        <i class="fas fa-plane p-2"></i>
                                        <i class="fas fa-hotel p-2"></i>
                                        <i class="fas fa-car p-2"></i>
                                        <i class="fas fa-person-hiking p-2"></i>
                                    </div>


                                    <br>


                                    <a class="btn btn-link text-decoration-none" style="padding-right:10px;font-weight: bold;" href="/<%=post._id%>/details">Explore</a>



                                    <div style="padding-top:10px;display: block;">
                                        <i class="fa-sharp fa-solid fa-indian-rupee-sign" style="font-size:15px;font-weight: bold;"><%=post.price%>/Person</i>
                                    </div>

                                </div>

                    </div>
                </div>
                <%}%>
        </div>



    </div>







    <footer class="footer-area" style="background-image: url('img/footer.jpg');">
        <div class="container">
            <div class="footer">
                <div class="single-footer">
                    <div class="footer-social">
                        <a href="https://twitter.com/SrijanPratihar"><i class='bx bxl-twitter' ></i></a>
                        <a href=""><i class='bx bxl-instagram' ></i></a>
                        <a href="https://www.linkedin.com/in/srijan-pratihar-297a61231/"><i class='bx bxl-linkedin' ></i></a>
                    </div>
                </div>
                <div class="single-footer">
                    <h4>quick links</h4>
                    <ul>
                        <li>

                            <a href="/" class='bx bx-chevrons-right' style="text-decoration: none;">Home</a>
                        </li>
                        <li>

                            <a href="/aboutus" class='bx bx-chevrons-right' style="text-decoration: none;">About</a>
                        </li>
                        <li>

                            <a href="/contactus" class='bx bx-chevrons-right' style="text-decoration: none;">Contact</a>
                        </li>
                    </ul>
                </div>

                <div class="single-footer">
                    <h4>get in touch</h4>
                    <ul>
                        <li><i class='bx bx-map'></i> Kolkata,West Bengal,India</li>
                        <li><i class='bx bx-phone'></i>+91 9749803328</li>
                        <li><i class='bx bx-envelope'></i>srijanpratihar19@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <span class="copy">2023,All Rights Reserved</span>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Contact us
</button>
        </div>
    </footer>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action='/contact' method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" required>

                        </div>

                        <div class="mb-3">
                            <label for="phone" class="form-label">Phone number</label>
                            <input type="tel" class="form-control" id="phone" name="phone" required>

                        </div>

                        <div class="mb-3">
                            <label for="message" class="form-label">Enquiry</label>
                            <textarea type="text" class="form-control" id="name" name="message" required></textarea>

                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>