<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body style="background-image:url('/images/WhatsApp Image 2023-02-20 at 20.48.32.jpeg');background-size: 100% 200%; margin-bottom: 60px;">

    <header class="mb-5">

        <nav class="navbar navbar-expand-lg navbar-light ">
            <div class="container" style="font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                <a class="navbar-brand" href="#">India Tourism</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="/aboutus">About Us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/contactus">Contact Us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/admin">Admin Page</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/logout">Log out</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container shadow p-3 mb-5 bg-body rounded">
            <h1 class="text-center">
                Admin Page
            </h1>
            <hr>
            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3 border rounded w-25 p-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active" id="v-pills-articles-tab" data-bs-toggle="pill" data-bs-target="#v-pills-articles" type="button" role="tab" aria-controls="v-pills-articles" aria-selected="true">Articles</button>
                    <button class="nav-link" id="v-pills-mails-tab" data-bs-toggle="pill" data-bs-target="#v-pills-mails" type="button" role="tab" aria-controls="v-pills-mails" aria-selected="false">CallBack Request</button>
                    <button class="nav-link" id="v-pills-request-tab" data-bs-toggle="pill" data-bs-target="#v-pills-request" type="button" role="tab" aria-controls="v-pills-request" aria-selected="false">Enquiries</button>

                </div>
                <div class="tab-content border rounded w-75 p-3" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-articles" role="tabpanel" aria-labelledby="v-pills-articles-tab">
                        <a class="btn btn-primary mb-3" href="/addpost">Add Post</a>
                        <table class="table table-striped">
                            <% let v=1%>
                                <% for (let post of posts){%>
                                    <tr>
                                        <td>
                                            <%=v%>
                                        </td>
                                        <td>
                                            <%=post.title%>
                                        </td>
                                        <td>
                                            <%=post.date%>
                                        </td>
                                        <td>
                                            <%=post.country%>
                                        </td>
                                        <td><a class="btn btn-link p-0 text-decoration-none" href="/edit/<%=post._id%>">Edit</button></td>
                                        <td><a class="btn btn-link p-0 text-decoration-none" href="/delete/<%=post._id%>">X</button></td>
                                    </tr>
                                    <%v++%>
                                        <%}%>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="v-pills-mails" role="tabpanel" aria-labelledby="v-pills-mails-tab">
<table class="table table-striped">


<% let vvv=1%>
                                <% for (let call of callme){%>
                                    <tr>
                                        <td>
                                            <%=vvv%>
                                        </td>
                                        <td>
                                            <%=call.phone%>
                                        </td>
                                        <td><a class="btn btn-link p-0 text-decoration-none" href="/delete/<%=call._id%>">X</button></td>
                                    </tr>
                                    <%vvv++%>
                                        <%}%>
                        </table>


</div>
                    <div class="tab-pane fade" id="v-pills-request" role="tabpanel" aria-labelledby="v-pills-request-tab">
<table class="table table-striped">
                            <% let vv=1%>
                                <% for (let call of calls){%>
                                    <tr>
                                        <td>
                                            <%=vv%>
                                        </td>
                                        <td>
                                            <%=call.name%>
                                        </td>
                                        <td>
                                            <%=call.phone%>
                                        </td>
                                        <td>
                                            <a href="/<%=call._id%>/enquiry">Enquiry</a>
                                        </td>
                                        <td><a class="btn btn-link p-0 text-decoration-none" href="/delete/<%=call._id%>">X</button></td>
                                    </tr>
                                    <%vv++%>
                                        <%}%>
                        </table>
</div>
                </div>
            </div>
        </div>
    </main>

    <script src="/js/bootstrap.min.js"></script>

</body>

</html>